services:
  # Frontend application (Next.js)
  nimtable-web:
    image: ghcr.io/nimtable/nimtable-web:nightly
    ports:
      - "3000:3000"
    environment:
      - JAVA_API_URL=http://nimtable:8182
      - DATABASE_URL=postgresql://nimtable_user:password@database:5432/nimtable
    depends_on:
      - nimtable
    networks:
      - nimtable-network

  # Backend application
  nimtable:
    image: ghcr.io/nimtable/nimtable:nightly
    depends_on:
      - database
    ports:
      - "8182:8182"
    # Mount configuration files
    configs:
      - source: config.yaml
        target: /nimtable/config.yaml
    environment:
      JAVA_OPTS: -Xmx2g -Xms512m
    networks:
      - nimtable-network

  # Database to persist nimtable data.
  # Make sure the setting in config.yaml is consistent with this.
  database:
    image: postgres:17
    ports:
      - "5432:5432"
    volumes:
      - nimtable-data-postgres:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: nimtable_user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: nimtable
    networks:
      - nimtable-network

networks:
  nimtable-network:
    driver: bridge
volumes:
  nimtable-data-postgres:

configs:
  config.yaml:
    content: |
      # Nimtable config file to be mounted into the Docker containers.
      # See backend/config.yaml for more complete example
      server:
        port: 8182
        host: 0.0.0.0
      admin:
        username: admin
        password: admin
      database:
        # You can also point to your own Postgres database, instead of using the one provided by docker-compose.
        url: jdbc:postgresql://database:5432/nimtable
        username: nimtable_user
        password: password
