services:
  nimtable:
    image: ghcr.io/risingwavelabs/nimtable:nightly
    ports:
      - "8182:8182"
    # Mount configuration files
    volumes:
      - ./config.yaml:/nimtable/config.yaml
    environment:
      JAVA_OPTS: -Xmx2g -Xms512m
    networks:
      - nimtable-network

networks:
  nimtable-network:
    driver: bridge
