<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Console appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File appender (optional, for production) -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/nimtable.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/nimtable.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Logger configurations -->
    
    <!-- Reduce verbosity of some third-party libraries -->
    <logger name="org.apache.spark" level="INFO"/>
    <logger name="org.apache.hadoop" level="WARN"/>
    <logger name="org.apache.iceberg" level="INFO"/>
    <logger name="org.eclipse.jetty" level="WARN"/>
    <logger name="io.ebean" level="INFO"/>
    
    <!-- Application loggers -->
    <logger name="io.nimtable" level="INFO"/>
    
    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <!-- Uncomment the following line for production file logging -->
        <!-- <appender-ref ref="FILE"/> -->
    </root>
</configuration> 