name: Publish Nightly Docker Image

on:
  schedule:
    - cron: '0 17 * * *'
  # Allow manual trigger
  workflow_dispatch:
  pull_request:

permissions:
  contents: read
  packages: write

env:
  IMAGE_NAME: ghcr.io/${{ github.repository_owner }}/nimtable

jobs:
  build-and-push:
    strategy:
      matrix:
        config:
          - {arch: 'arm64'}
          - {arch: 'amd64'}
    runs-on: ${{ matrix.config.arch == 'arm64' && 'ubuntu-24.04-arm' || 'ubuntu-latest' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=nightly-${{matrix.config.arch}}
            type=raw,value=nightly-${{ github.sha }}-${{matrix.config.arch}}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./docker/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  # create multi-arch image
  merge-docker-manifest:
    runs-on: ubuntu-latest
    needs: build-and-push
    steps:
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Create and push manifest images (nightly)
        uses: Noelware/docker-manifest-action@0.4.3
        with:
          inputs: ${{ env.IMAGE_NAME }}:nightly
          images: ${{ env.IMAGE_NAME }}:nightly-amd64,${{ env.IMAGE_NAME }}:nightly-arm64
          push: true
      - name: Create and push manifest images (nightly-sha)
        uses: Noelware/docker-manifest-action@0.4.3
        with:
          inputs: ${{ env.IMAGE_NAME }}:nightly-${{ github.sha }}
          images: ${{ env.IMAGE_NAME }}:nightly-${{ github.sha }}-amd64,${{ env.IMAGE_NAME }}:nightly-${{ github.sha }}-arm64
          push: true
